.section.no-pad-bot#index-banner
  .container
  %br
  %br
  %h1.header.center Let's get in touch
  %br
  %br
  %br
  .container
    .row
      .input-field.col.l6.offset-l3.s12
        %input#email{ :type => "email", :class => "validate" }
        %label{ :for => "email" }
          Email
      .input-field.col.l6.offset-l3.s12
        %input#subject{ :type => "text", :value => @subject }
        %label{ :for => "subject", :class => (@subject.to_s != '' ? 'active' : '') }
          Subject
      .input-field.col.l6.offset-l3.s12
        %textarea#body{ :class => "materialize-textarea" }
        %label{ :for => "body" }
          Content
    .row.center-align
      %button.btn-large.waves-effect.waves-light{ :type => "submit"}
        Do it
        %i.material-icons.right
          email