.section.no-pad-bot#index-banner
  .container
    .row
      .col.s12
        .row
          .col.s12.m4.offset-m4
            = image_tag("biglogotext.png", :class => "responsive-img")
      .col.s4
        = image_tag("car.jpg", :class => "responsive-img materialboxed")
      .col.s4
        = image_tag("hydrograss.jpg", :class => "responsive-img materialboxed")
      .col.s4
        = image_tag("snowcar.jpg", :class => "responsive-img materialboxed")
    %br
    .divider
    %br
    %br
    .row
      .col.s10.m5.offset-m1.offset-s1.center-align
        = image_tag("cali.jpg", :class => "responsive-img materialboxed")
        %p
          %b
            Our latest products
        %p
          Check out all the latest that AP Designs has to offer.
        %a{ :href => "https://www.etsy.com/shop/apdesignsVinyl", :class => "btn waves-effect waves-light" }
          Check out our etsy store
        %br
        %br
      .col.s10.m5.offset-s1.center-align
        = image_tag("wholesale.jpg", :class => "responsive-img materialboxed")
        %p
          %b
            Wholesale request
        %p
          Want to do a group promotion? Maybe buy in bulk? Let us know!
        %a{ :href => "contact?subject=Wholesale%20request", :class => "btn waves-effect waves-light" }
          Contact us for bulk orders

  / .container
  /   .row
  /     .col.l6.offset-l3.m8.offset-m2
  /       = image_tag("biglogotext.png", :class => "responsive-img")
  /   .divider
  / %br
  / %br
  / .container
  /   .row
  /     .center-align
  /       %i.material-icons.large
  /         report_problem
  / %p.center="*site under construction*"
  / %p.center
  /   While we're getting things sorted here, <a href="https://www.etsy.com/shop/apdesignsVinyl">take a look at our Etsy page</a>.