.section.no-pad-bot#index-banner
  .container
  %br
  %br
  %h1.header.center Oregon Customized "home" Sticker
  %h4.header.center Alpha Kappa Chapter at University of Oregon
  %br
  %br
  %br
  .container
    .row
      .col.s12.l6
        .row
          .col.s12
            = image_tag("IMG_8078.JPG", :class => "responsive-img materialboxed")
        .row
          .col.s4
            %h4 $5.00
          .col.s7.l6.right-align
            %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "paypal", :id => "item1form"}
              %input{:name => "cmd", :type => "hidden", :value => "_cart"}
              %input{:name => "business", :type => "hidden", :value => "WG5LZ5Z92PPUG"}
              %input{:name => "lc", :type => "hidden", :value => "US"}
              %input{:name => "item_name", :type => "hidden", :value => "AXO - Alpha Kappa 'home' Black"}
              %input{:name => "item_number", :type => "hidden", :value => "1"}
              %input{:name => "amount", :type => "hidden", :value => "5.00"}
              %input{:name => "currency_code", :type => "hidden", :value => "USD"}
              %input{:name => "button_subtype", :type => "hidden", :value => "products"}
              %input{:name => "no_note", :type => "hidden", :value => "0"}
              %input{:name => "cn", :type => "hidden", :value => "Add special instructions to the seller:"}
              %input{:name => "no_shipping", :type => "hidden", :value => "2"}
              %input{:name => "add", :type => "hidden", :value => "1"}
              %input{:name => "quantity", :type => "hidden", :value => "1", :id => "item1ppquantity"}
              %input{:name => "bn", :type => "hidden", :value => "PP-ShopCartBF:btn_cart_LG.gif:NonHosted"}
              %button{:name => "submit", :type => "submit", :class => "waves-effect waves-light btn-large"}
                ="ADD TO CART"
          .col.s1.l2.input-field
            %input#item1quantity{ :type => "text", :value => "1" }
            %label{ :for => "item1quantity" }
              Qty
      .col.s12.l6
        .row
          .col.s12
            = image_tag("IMG_8079.JPG", :class => "responsive-img materialboxed")
        .row
          .col.s4
            %h4 $5.00
          .col.s7.l6.right-align
            %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "paypal", :id => "item2form"}
              %input{:name => "cmd", :type => "hidden", :value => "_cart"}
              %input{:name => "business", :type => "hidden", :value => "WG5LZ5Z92PPUG"}
              %input{:name => "lc", :type => "hidden", :value => "US"}
              %input{:name => "item_name", :type => "hidden", :value => "AXO - Alpha Kappa 'home' White"}
              %input{:name => "item_number", :type => "hidden", :value => "2"}
              %input{:name => "amount", :type => "hidden", :value => "5.00"}
              %input{:name => "currency_code", :type => "hidden", :value => "USD"}
              %input{:name => "button_subtype", :type => "hidden", :value => "products"}
              %input{:name => "no_note", :type => "hidden", :value => "0"}
              %input{:name => "cn", :type => "hidden", :value => "Add special instructions to the seller:"}
              %input{:name => "no_shipping", :type => "hidden", :value => "2"}
              %input{:name => "add", :type => "hidden", :value => "1"}
              %input{:name => "quantity", :type => "hidden", :value => "1", :id => "item2ppquantity"}
              %input{:name => "bn", :type => "hidden", :value => "PP-ShopCartBF:btn_cart_LG.gif:NonHosted"}
              %button{:name => "submit", :type => "submit", :class => "waves-effect waves-light btn-large"}
                ="ADD TO CART"
          .col.s1.l2.input-field
            %input#item2quantity{ :type => "text", :value => "1" }
            %label{ :for => "item2quantity" }
              Qty


  / OLD CREDIT CARD FORM WHEN TRYING TO GET SQUARE WORKING
  / .container.section
  /   .row
  /     %form.col.s12.m6.offset-m3.l4.offset-l4
  /       .row
  /         .input-field.col.s12
  /           %input#fullName{ :type => "text", :class => "validate"}
  /           %label{ :for => "fullName"}
  /             Full Name
  /         .input-field.col.s10
  /           %input#cardNumber{ :type => "text", :class => "validate"}
  /           %label{ :for => "cardNumber"}
  /             Card Number
  /         .input-field.col.s2
  /           %input#cvv{ :type => "text", :class => "validate"}
  /           %label{ :for => "cvv" }
  /             CVV
  /         .input-field.col.s3
  /           =select_tag("expireMonth", options_for_select(@month_options), :include_blank => "EXP MO")
  /         .input-field.col.s3
  /           =select_tag("expireYear", options_for_select(@year_options), :include_blank => "EXP YR")
  /         .col.s3.offset-s3
  /           %a.waves-effect.waves-light.btn-large
  /             BUY NOW

:javascript
  $(document).ready(function() {
    $('select').material_select();

    $("#item1addtocart").click(function() {
      $("#item1form").submit();
    });

    $("#item1quantity").keyup(function() {
      $("#item1ppquantity").val($("#item1quantity").val());
    });

    $("#item2addtocart").click(function() {
      $("#item2form").submit();
    });

    $("#item2quantity").keyup(function() {
      $("#item2ppquantity").val($("#item2quantity").val());
    });
  });