/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 */
@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import "materialize";

.teal.lighten-3 {
	background-color: #ACCFCC !important;
}

.nav-wrapper .brand-logo img {
    height: 55px;
    margin-top: 5px;
}

nav {
	height: 66px !important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
	flex: 1 0 auto;
}