<!DOCTYPE html>
<html>
  <head>
    <title>AP Designs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="navbar-fixed" />
        <nav class="grey darken-1" role="navigation">
          <div class="nav-wrapper container">
            <%= link_to(root_path, :id => "logo-container", :class => "brand-logo") do %>
              <%= image_tag("bannerlogo2.png", :class => "responsive-img") %>
            <% end %>
            <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
            <% unless @hideCart %>
            <ul class="right" style="padding-left: 15px;">
              <li>
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" >
                  <input type="hidden" name="cmd" value="_cart">
                  <input type="hidden" name="business" value="WG5LZ5Z92PPUG">
                  <input type="hidden" name="display" value="1">
                  <button type="submit" name="submit" class="waves-effect waves-light btn">
                    View Cart
                  </button>
                </form>
              </li>
            </ul>
            <% end %>
            <ul class="right hide-on-med-and-down">
              <li><a href="https://www.etsy.com/shop/apdesignsVinyl">Etsy Store</a></li>
              <li><a href="contact">Contact</a></li>
            </ul>
            <ul class="side-nav" id="mobile-menu">
              <li><%= link_to('Home', root_path) %></li>
              <li><a href="https://www.etsy.com/shop/apdesignsVinyl">Etsy Store</a></li>
              <li><a href="contact">Contact</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer class="page-footer teal lighten-2">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">AP Designs</h5>
            <p class="grey-text text-lighten-4">AP Designs, LLC is a design company based out of Oregon that sells, designs, and produces vinyl stickers.</p>
          </div>
          <div class="col l4 s7 right-align">
            <ul>
              <li><a href="https://www.instagram.com/apdesigns_/" class="white-text" target="blank">instagram</a></li>
              <li><a href="https://www.facebook.com/apdesigns.0" class="white-text" target="blank">facebook</a></li>
              <li><a href="https://www.etsy.com/shop/apdesignsVinyl" class="white-text" target="blank">etsy</a></li>
            </ul>
          </div>
          <div class="col l2 s5 right-align">
            <%= image_tag("olp_gray.png", :class => "responsive-img", :style => "height: 96px") %>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          <div class="row">
            <div class="col s6">
              Made with love
            </div>
            <div class="col s6 right-align">
              <a href="contact" class="btn small white black-text waves-effect waves-dark">Contact</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-84545695-1', 'auto');
      ga('send', 'pageview');

    </script>
    <script>
      $(document).ready(function() {
        $(".button-collapse").sideNav();
      })
    </script>
  </body>
</html>